/* Use `https://autoprefixer.github.io/` to set prefixes | last 100 version  */

.disabled-transitions, .disabled-transitions * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

:root { font-size: 16px; }

body {
    font-family: sans-serif;
    font-size: 1rem;
}
